* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cbx-row {
  display: flex;
  align-items: center;
}
.cbx-row label {
  padding-left: 3%;
}

.remove-link {
  color: #000;
  text-decoration: none;
}

.nav-clicked:focus {
  background-color: #d9d9d9;
}

.nav-clicked:hover {
  background-color: #d9d9d9;
}

.btnBack {
  height: 30px;
  text-align: left;
  margin-top: 2%;
  margin-bottom: 10%;
}

.height-s {
  height: 60px;
}

.height-sm {
  height: 10%;
}

.height-lg {
  height: 80%;
}

.height-xl {
  height: 90%;
}

.h-30 {
  height: 30%;
}

.h-40 {
  height: 40%;
}

.bg-gray {
  background-color: gainsboro;
}

.rounded-top-cus {
  border-radius: 10px 10px 0 0;
  /* border-radius: 3% 3% 0 0; */
}

.bg-white {
  background-color: white;
}

.form-group {
  width: 320px;
}

.link-text-decoration {
  text-decoration: none;
}

a:hover {
  color: #087258;
}

input {
  height: 45px;
}

#btn-dark-green {
  background-color: #087258;
  color: #fff;
  font-weight: bolder;
  height: 45px;
}

#btn-dark-green:hover {
  background-color: #10c074;
}

#btn-light-green {
  background-color: #0ba360;
  color: #fff;
  font-weight: bolder;
  height: 45px;
}

#btn-light-green:hover {
  background-color: #11aa68;
}

#btn-light-green:disabled {
  background-color: gray;
}

.text-green-bold {
  font-weight: bolder;
  color: #0ba360;
}

.left-side {
  height: 100%;
  background-color: #c4fff1;
}

.text-register-3-2 {
  color: black;
  margin-left: 5px;
  font-weight: lighter;
}
.form-group-otp {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.text-end-re {
  margin-top: 20px;
  margin-left: 30px;
}
.btn-register-3 {
  border: #fff;
  background-color: #fff;
  font-weight: 600;
  font-size: 25px;
}
.btn-gis3 {
  border: #fff;
  border: 0;
  background-color: #fff;
}
.otp {
  height: 50px;
  font-size: 25px;
  text-align: center;
}
.txt-otp {
  margin-left: 80px;
}

#input-search {
  height: 35px;
  border-radius: 20px;
  border: 1px solid #c9c9c9;
  width: 102%;
  font-size: 15px;
  background: url(../assets/iconSearch.svg) left no-repeat;
  background-size: 10%;
  background-position-x: 2.5%;
  padding: 5% 0 5% 13%;
}

#input-search:focus {
  outline: none !important;
  border: 1px solid #0ba360;
}

#add-conversation {
  border: none;
  background-color: #fff;
}
.message-to {
  color: rgba(0, 0, 0, 50%);
}

.img-left-side > img {
  padding-left: 0px;
  padding-right: 0px;
}

.text-padding {
  padding-left: 10px;
  font-weight: bold;
}

.outline-none,
.outline-none:focus {
  border: none;
  outline: none !important;
}

.bg-box-chat-green {
  background-color: #a9ffda !important;
}

.mw-50 {
  max-width: 50%;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.w-30 {
  width: 30%;
}

.top-fit-img {
  top: 10px;
}

.left-fit-img {
  left: 8%;
}

.fs-7 {
  font-size: 10px;
}

.bg-green {
  background-color: #10c074;
}

.mh-90 {
  max-height: 90% !important;
}

.h-90 {
  height: 90%;
}

.mh-70 {
  max-height: 70% !important;
}

.h-70 {
  height: 70%;
}

.w-15{
  width: 15%;
}

.h-15{
  height: 15%;
}

.w-40 {
  width: 40%;
}

.min-w-100 {
  min-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  grid-template-rows: repeat(auto-fit, minmax(100px, 300px));
  /* grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); */
}

.w-90 {
  width: 90%;
}

.w-10 {
  width: 10% !important;
}

.delete-button {
  display: none;
}

.chat-container:hover .delete-button {
  display: flex;
}

.center-absolute {
  transform: translate(-50%, -50%);
}

.date-hover:hover .date {
  display: none;
}

.date-hover:hover .delete-button {
  display: flex;
}

.end-5 {
  right: 5% !important;
}

.top-10 {
  top: 10% !important;
}

.delete-conv:hover {
  background-color: gray 0.25;
}

.bg-list-hover {
  background-color: white;
}

.bg-list-hover:hover {
  background-color: #c4fff1 !important;
}

.bg-rgba-transparent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
}

.bg-rgba-white{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.hover-gray:hover {
  background-color: rgb(231, 225, 225);
}
